### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [31]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [32]:
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [33]:
new_df = pd.DataFrame({'Total School':[len(school_data)],
                        'Total Student':[ len(student_data)],
                        'Total Budget': [school_data['budget'].sum()],
                        'Average Maths Score': student_data['maths_score'].mean(),
                        'Average Reading Score': student_data['reading_score'].mean(),
                        '% Passing Maths': len(student_data.loc[student_data['maths_score']>=50]) / len(student_data) * 100,
                        '% Passing Reading': len(student_data.loc[student_data['reading_score']>=50]) / len(student_data) * 100,
                        '% Overall Passing': len(student_data.loc[(student_data['reading_score'] >= 50) & (student_data['maths_score']>=50)]) / len(student_data) * 100})

new_df

,Total School,Total Student,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [50]:
math_avg = school_data_complete.groupby(['school_name','type'])['maths_score'].mean()
reading_avg = school_data_complete.groupby(['school_name','type'])['reading_score'].mean()

new_df_2 = pd.merge(math_avg,reading_avg, on = ['school_name','type'])
new_df_2

                                   maths_score  reading_score
school_name           type
Bailey High School    Government     72.352894      71.008842
Cabrera High School   Independent    71.657158      71.359526
Figueroa High School  Government     68.698542      69.077993
Ford High School      Government     69.091274      69.572472
Griffin High School   Independent    71.788147      71.245232
Hernandez High School Government     68.874865      69.186408
Holden High School    Independent    72.583138      71.660422
Huang High School     Government     68.935207      68.910525
Johnson High School   Government     68.843100      69.039277
Pena High School      Independent    72.088358      71.613306
Rodriguez High School Government     72.047762      70.935984
Shelton High School   Independent    72.034072      70.257808
Thomas High School    Independent    69.581651      69.768807
Wilson High School    Independent    69.170828      68.876916
Wright High School    Independent    72.047222      70.969444

In [35]:
total_student = school_data_complete.sum(axis = 0)
total_student

Student ID                                               767124865
student_name     Paul BradleyVictor SmithKevin RodriguezRichard...
gender           MMMMFMFFMMMMFMFMMFMFFFFMFMFFFFMMFFMMMMFMMFMFFF...
year                                                        405785
school_name      Huang High SchoolHuang High SchoolHuang High S...
reading_score                                              2741122
maths_score                                                2755147
School ID                                                   273335
type             GovernmentGovernmentGovernmentGovernmentGovern...
size                                                     130551930
budget                                                 82932329558
dtype: object

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Year

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type