### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [68]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [69]:
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [70]:
area_summary  = pd.DataFrame({'Total School':[len(school_data)],
                        'Total Student':[ len(student_data)],
                        'Total Budget': [school_data['budget'].sum()],
                        'Average Maths Score': student_data['maths_score'].mean(),
                        'Average Reading Score': student_data['reading_score'].mean(),
                        '% Passing Maths': len(student_data.loc[student_data['maths_score']>=50]) / len(student_data) * 100,
                        '% Passing Reading': len(student_data.loc[student_data['reading_score']>=50]) / len(student_data) * 100,
                        '% Overall Passing': len(student_data.loc[(student_data['reading_score'] >= 50) & (student_data['maths_score']>=50)]) / len(student_data) * 100})

area_summary

,Total School,Total Student,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [71]:
per_school_summary  = pd.DataFrame()

In [72]:
Total_student =school_data_complete.groupby(['school_name','type']).count()['student_name']
Total_school_budget = school_data.groupby(['school_name','type']).sum()['budget']
Per_student_budget = Total_school_budget / Total_student 
Average_math = school_data_complete.groupby(['school_name','type']).mean()['maths_score']
Average_reading = school_data_complete.groupby(['school_name','type']).mean()['reading_score']
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete[(school_data_complete["maths_score"] >= 50)]
per_school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 50)]
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / Total_student * 100
per_school_passing_reading = per_school_passing_reading / Total_student * 100
# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete[(school_data_complete["reading_score"] >= 50)
                                               & (school_data_complete["maths_score"] >= 50)]
# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / Total_student * 100

In [73]:
per_school_summary ['Total school budget'] = Total_school_budget
per_school_summary ['Total student'] = Total_student
per_school_summary ['Per student budget'] = Per_student_budget
per_school_summary ['Average Maths Score'] = Average_math
per_school_summary ['Average Reading Score'] = Average_reading
per_school_summary ['% Passing Maths'] = per_school_passing_math
per_school_summary ['% Passing Reading'] = per_school_passing_reading
per_school_summary ['% Overall Passing'] = per_overall_passing_percentage

In [74]:
format_dict = {'Total school budget':'${0:,.0f}','Per student budget':'${00:,.0f}'}
per_school_summary.style.format(format_dict)

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [75]:
top_schools  = per_school_summary.sort_values(by=['% Overall Passing'],ascending=False).head(5)
top_schools

,,Total school budget,Total student,Per student budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,type,,,,,,,,
Griffin High School,Independent,917500,1468,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1081356,1858,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,3124928,4976,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1049400,1800,583.0,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,2547363,3999,637.0,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [76]:
bottom_schools   = per_school_summary.sort_values(by=['% Overall Passing'],ascending=True).head(5)
bottom_schools

,,Total school budget,Total student,Per student budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,type,,,,,,,,
Hernandez High School,Government,3022020,4635,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,1910635,2917,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,3094650,4761,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,1319574,2283,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,1763916,2739,644.0,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [77]:
year9 = school_data_complete[(school_data_complete["year"] == 9)]
year10 = school_data_complete[(school_data_complete["year"] == 10)]
year11 = school_data_complete[(school_data_complete["year"] == 11)]
year12 = school_data_complete[(school_data_complete["year"] == 12)]



Average_math_9 = year9.groupby(['school_name']).mean()['reading_score']
Average_math_10 = year10.groupby(['school_name']).mean()['reading_score']
Average_math_11 = year11.groupby(['school_name']).mean()['reading_score']
Average_math_12 = year12.groupby(['school_name']).mean()['reading_score']

In [78]:
maths_scores_by_year = pd.DataFrame({'Year 9':Average_math_9,'Year 10':Average_math_10,'Year 11':Average_math_11,'Year 12':Average_math_12})
maths_scores_by_year

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Reading Score by Year

* Perform the same operations as above for reading scores

In [79]:
Average_reading_9 = year9.groupby(['school_name']).mean()['reading_score']
Average_reading_10 = year10.groupby(['school_name']).mean()['reading_score']
Average_reading_11 = year11.groupby(['school_name']).mean()['reading_score']
Average_reading_12 = year12.groupby(['school_name']).mean()['reading_score']

reading_scores_by_year  = pd.DataFrame({'Year 9':Average_reading_9,'Year 10':Average_reading_10,'Year 11':Average_reading_11,'Year 12':Average_reading_12})
reading_scores_by_year

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [80]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type